* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  position: absolute;
  top: 6rem;
  width: 100vw;
  max-width: 100%;
}

.menu {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list__item .list__link {
  position: relative;
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  cursor: pointer;
}

.list .list__item .list__link_disabled {
  color: #CDCDCD;
}

.list .list__item .list__link_disabled:hover {
  border-bottom: 0.3rem solid #F1CDB3;
  color: #FFFFFF;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.main {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  padding-top: 18rem;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-height: 72.8rem;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8.3rem;
  max-width: 46.8rem;
}

.content-section__title {
  color: #FFFFFF;
  max-width: 31rem;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 4.2rem;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.content-section__button {
  max-width: 20.7rem;
  margin-top: 4rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 130%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1CDB3;
}

.content-section__button:hover {
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8rem 17.5rem 10rem 17.5rem;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 43rem;
  padding-top: 1.5rem;
}

.about__title {
  max-width: 37rem;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  color: #4C4C4C;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}

.about__description p:nth-child(2) {
  margin-top: 2.5rem;
}

.pets {
  background-color: #F6F6F6;
  padding-top: 8.1rem;
  padding-bottom: 10px;
}

.pets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  max-width: 40rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  letter-spacing: 0.21rem;
  text-align: center;
  color: #545454;
}

.pets__title span {
  display: block;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets .pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.pets .pets__content .pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 1.4rem;
  max-width: 99rem;
  margin: auto;
}

.pets .pets__content .pets__cards .pets__animal_card {
  background-color: #FFFFFF;
  padding-bottom: 3.4rem;
  border-radius: 9px;
}

.pets .pets__content .pets__cards .pets__animal_card:hover {
  cursor: pointer;
}

.pets .pets__content .pets__cards .animal__foto {
  border-radius: 9px;
  overflow: hidden;
}

.pets .pets__content .pets__cards .animal__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.21rem;
  padding-top: 2.7rem;
  padding-bottom: 2.8rem;
  letter-spacing: 0.12rem;
}

.pets .pets__content .pets__cards .animal__btn {
  max-width: 20.7rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 130%;
  border: 2px solid #F1CDB3;
  outline: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.pets .pets__button {
  max-width: 26.1rem;
  margin-top: 4rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.09rem;
  line-height: 130%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1CDB3;
  margin-bottom: 9rem;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.help__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 6rem;
  max-width: 34.8rem;
  margin: auto;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.help__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 102.5rem;
  padding-bottom: 5.5rem;
}

.help__content-wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10.2rem;
  width: 98rem;
  margin: auto;
}

.help__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  padding-bottom: 2.8rem;
}

.help__icon-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.21rem;
  letter-spacing: 0.12rem;
}

.donation {
  width: 100%;
  background-color: #F6F6F6;
}

.donation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 10rem;
  padding: 8rem 14.3rem 10.1rem 14.2rem;
}

.donation__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.donation__image {
  width: 100%;
  max-height: 26.1rem;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  max-width: 38rem;
}

.donation__content .donation__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  max-width: 30rem;
  color: #545454;
}

.donation__content .donation__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06rem;
  color: #545454;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 0.09rem;
}

.donation__content .donation__info_bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1CDB3;
  max-width: 34.9rem;
  height: 4.3rem;
  border-radius: 0.9rem;
}

.donation__content .bank__card {
  padding: 1.5rem;
}

.donation__content .bank__card_number {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.21rem;
  color: #545454;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0.12rem;
}

.donation__content .donation__description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
  padding-top: 2rem;
}

.footer {
  width: 100%;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120rem;
  width: 100%;
  padding-top: 4rem;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30.2rem;
  padding-top: 1.7rem;
}

.map {
  margin-right: 2.4rem;
}

.footer__contact_info {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #FFFFFF;
}

.footer__mail_adres,
.footer__phone_number,
.footer__adres_city {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.21rem;
  color: #F1CDB3;
  letter-spacing: 0.12rem;
}

.footer__contact_mail,
.footer__contact_phone,
.footer__contact_adres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin {
  vertical-align: centr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.footer__icon {
  color: #F1CDB3;
  padding-right: 2rem;
}

.footer_adres {
  padding: 4.4rem 0;
}

.contact_boston {
  padding-top: 3.2rem;
}

.contacy_london {
  padding-top: 3.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */