* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 126rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  position: absolute;
  top: 6rem;
  width: 100vw;
  min-width: 100%;
}

.menu {
  width: 44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6.5rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list__item .list__link {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  cursor: pointer;
}

.list .list__item .list__link_disabled {
  color: #CDCDCD;
}

.list .list__item .list__link_disabled:hover {
  border-bottom: 0.3rem solid #F1CDB3;
  color: #FFFFFF;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.list .list__item .list__link_activ {
  padding-right: 0.5rem;
  border-bottom: 0.3rem solid #F1CDB3;
}

.main {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  padding-top: 18rem;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-height: 72.8rem;
  -webkit-transform: translateX(-5.2rem);
          transform: translateX(-5.2rem);
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8.3rem;
  max-width: 46.8rem;
  margin-left: 0.8rem;
}

.content-section__title {
  color: #FFFFFF;
  max-width: 31rem;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 4.2rem;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.content-section__button {
  max-width: 20.7rem;
  margin-top: 4rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 130%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1CDB3;
}

.content-section__button:hover {
  background-color: #FDDCC4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8rem 22.7rem 10rem 18.3rem;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 43rem;
  padding-top: 1.5rem;
}

.about__title {
  max-width: 37rem;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  color: #4C4C4C;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}

.about__description p:nth-child(2) {
  margin-top: 2.5rem;
}

.pets {
  background-color: #F6F6F6;
  padding-top: 8.1rem;
  padding-bottom: 10px;
}

.pets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  max-width: 40rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  margin-right: 4.2rem;
  text-align: center;
  color: #545454;
}

.pets__title span {
  display: block;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets .pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.pets .pets__content .pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pets .pets__content .pets__cards .pets__animal_card {
  background-color: #FFFFFF;
  padding-bottom: 3rem;
  border-radius: 9px;
}

.pets .pets__content .pets__cards .animal__foto {
  border-radius: 9px;
  overflow: hidden;
}

.pets .pets__content .pets__cards .animal__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.21rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pets .pets__content .pets__cards .animal__btn {
  max-width: 20.7rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 130%;
  border: 2px solid #F1CDB3;
  outline: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.pets .pets__content .slider-button {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  max-width: 5.2rem;
  max-height: 5.2rem;
}

.pets .pets__content .slider-button_reverted {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  max-width: 5.2rem;
  max-height: 5.2rem;
}

.pets .pets__button {
  max-width: 26.1rem;
  margin-top: 4rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.12rem;
  line-height: 130%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1CDB3;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */