* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100vw;
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.menu {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.20rem;
  color: #545454;
  color: #c4c4c4;
  padding-bottom: 1rem;
}

.logo__title:first-child {
  color: #545454;
}

.logo__title-span {
  font-family: Arial;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list__item .list__link {
  position: relative;
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  cursor: pointer;
}

.friends {
  background-color: #F6F6F6;
  width: 100%;
}

.friends__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  margin: auto;
  width: 40rem;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 4.5rem;
}

.friends__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.friends_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.friends__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.4rem;
  max-width: 25%;
  margin: auto;
}

.friends__animal_card {
  background-color: #FFFFFF;
  padding-bottom: 3.4rem;
  border-radius: 9px;
}

.friends__animal_card:hover {
  cursor: pointer;
}

.animal__foto {
  border-radius: 9px;
  overflow: hidden;
}

.animal__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.21rem;
  padding-top: 2.7rem;
  padding-bottom: 2.8rem;
  letter-spacing: 0.12rem;
}

.animal__btn {
  max-width: 20.7rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 130%;
  border: 2px solid #F1CDB3;
  outline: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
/*# sourceMappingURL=pets.css.map */